{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'QuizoBlast/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="sidenav">
            <div class="login-main-text">
               <h2>Application<br> Login Page</h2>
               <p>Login or register from here to access.</p>
            </div>
        </div>
        <div class="main">
            <div class="col-md-6 col-sm-12 ">
               <div class="login-form">
                  <form method="POST">
                      {% csrf_token %}
                      {% for field in form %}
                     <div class="form-group">
                        <label class="text-uppercase"><b>{{field.name}}:</b></label>
                        {{field}}
                     </div>
                     {% endfor %}
                     <a href="{% url 'register'%}"><button type="submit" class="btn btn-dark">Register</button></a>
                  </form>
                  <br>
               </div>
            </div>
        </div>
        <div class="main">
            <div class="col-md-6 col-sm-12">
                <p class="h5">Already have an account?Click below</p>
                <a href="{% url 'login'%}"><button class="btn btn-dark">Login</button></a>
            </div>
        </div>
        
    </div>
    <!-- <form method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">Register Me</button>
    </form> -->
</body>
</html>